<!DOCTYPE html>
<html lang="pt-br" ng-app="livrex">
    <head>
        <title>Livrex</title>
        <link rel="stylesheet" href="../lib/bootstrap-3.3.7/bootstrap.min.css">
        <link rel="stylesheet" href="../lib/bootstrap-3.3.7/bootstrap-theme.css">
        <script src="../lib/angular-1.5.8/angular.min.js"></script>
        <script src="../javascript/main.js"></script>
        <script src="../javascript/controller/livros-controller.js"></script>
    </head>
    <body ng-controller="LivrosController">
        Titulo: <input type="text" ng-model="titulo"> <br>
        Titulo digitado: {{titulo}}
    </body>
</html>