<!DOCTYPE html>
<html lang="pt-br" ng-app="livrex">
    <head>
        <title>Livrex</title>
        <link rel="stylesheet" href="../lib/bootstrap-3.3.7/bootstrap.min.css">
        <link rel="stylesheet" href="../lib/bootstrap-3.3.7/bootstrap-theme.css">
        <script src="../lib/angular-1.5.8/angular.min.js"></script>
        <script src="../javascript/model/livro.js"></script>
        <script src="../javascript/main.js"></script>
        <script src="../javascript/controller/livros-controller.js"></script>
    </head>
    <body ng-controller="LivrosController">
        <div class="container">
            <div class="panel panel-default col-md-3" ng-repeat= "livro in livros">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">{{livro.toString()}}</h3>
                </div>
                <div class="panel-body">
                    <img class="img-responsive center-block" src="{{livro.imagemURL}}" ">
                </div>
            </div>
        </div>
    </body>
</html>