<!DOCTYPE html>
<html lang="pt-br" ng-app="livrex">
    <head>
        <title>Livrex</title>
        <link rel="stylesheet" href="../lib/bootstrap-3.3.7/bootstrap.min.css">
        <link rel="stylesheet" href="../lib/bootstrap-3.3.7/bootstrap-theme.css">
        <script src="../lib/angular-1.5.8/angular.min.js"></script>
        <script src="../javascript/model/livro.js"></script>
        <script src="../javascript/main.js"></script>
        <script src="../javascript/controller/livros-controller.js"></script>
        <script src="../javascript/service/livros-service.js"></script>
        <script src="../javascript/factory/livros-factory.js"></script>
        <script src="../javascript/directives/minhas-diretivas.js"></script>



    </head>
    <body ng-controller="LivrosController">
        <div class="container">
            <div class="jumbotron">
                Titulo:    <input type="text" ng-model="livro.titulo"> <br>
                Descrição: <input type="text" ng-model="livro.descricao"> <br>
                ImagemURL: <input type="text" ng-model="livro.imagemURL"> <br>
                <button type="button" class="btn btn-primary" ng-click="adicionarLivro(livro)"> Adicionar Livro </button>
            </div>
        </div>
        <div class="container">
            <meu-painel livros ="livros"> </meu-painel>
        </div>
    </body>
</html>